<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div id="app">
      <div v-if="isShow" class="login-wrapper">
        <p>
          暱稱 :
          <input v-model="username" type="text" />
        </p>
        <p>
          頻道 :
          <input v-model="channelId" type="text" />
        </p>
        <button @click="logingChat()">進入聊天室</button>
      </div>
      <div v-else class="chat-wrapper">
        <h2>目前線上人數 : {{ onlineNum }}</h2>
        <div class="channel">
          <div>
            <input v-model="message" class="input-message" type="text" />
            <button type="button" class="send-btn" @click="sendMessage()">
              送出訊息
            </button>
            <ul class="message-wrapper">
              <li v-for="(item, index) in messageList" :key="index + item">
                <span class="user-name">{{ item.username }}</span> : {{
                item.message }}
              </li>
            </ul>
          </div>
          <div class="user-list">
            <div v-for="(item, index) in userList" :key="index + item">
              <div v-if="item.event === 'login'">
                歡迎 :
                <span class="user-name">{{ item.username }}</span> 進入頻道
              </div>
              <div v-else>
                <span class="user-name">{{ item.username }}</span> 已經離開頻道
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./client.js"></script>
  </body>
</html>
