<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title websocket-game
  body
    .wrap
      h2 Echo Text
      input.send-text(type="text")
      button.send-btn 傳送訊息
      p.receive-text

    script(src="./js/index.js")
